br
br
.hero-unit
  form.form-horizontal(name='loginForm', ng-submit='sendForm()')
    .control-group
      - if (user)
        h1 Hello!
      - else
        h1 Hello!
      h5 Type your nick below and click 'LogIn'
    .control-group
      input(type='text', ng-change='toggleLoginBtn(loginInput)', ng-model='loginInput', required='required')
    .control-group
      button.btn.btn-large.btn-info(type='submit', ng-disabled='myForm.$invalid', ng:class='loginFormValid')
        | LogIn

div(modal='shouldBeOpen', close='close()', options='opts')
  div.modal-header
    h4 Warning
  div.modal-body {{warning}}
  div.modal-footer
    button.btn.btn-warning.btn-large(ng-click='close()') Close