extends layout

block body
    //if lt IE 7
      p.chromeframe
        | You are using an outdated browser.
        a(href='http://browsehappy.com/') Upgrade your browser today
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
        | to better experience this site.
    //if lt IE 9
      script(src='js/lib/es5-shim/es5-shim.js')
      script(src='js/lib/json3/lib/json3.min.js')
    //
       Add your site or application content here 
       
    .container(ng-view='ng-view')

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
    //script(src='js/lib/angular/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/lib/angular-socket-io/socket.js')
    script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js')
    script(src='js/lib/bootstrap/bootstrap.min.js')

    script(src='js/app.js')
    script(src='js/services/communicationService.js')
    script(src='js/services/messageService.js')
    script(src='js/directives/directives.js')
    script(src='js/controllers/chat.js')
    script(src='js/lib/angular-ui/build/angular-ui.js')
    script(src='js/lib/angular-local-storage/angular-local-storage.js')