.hero-unit
    h2 My Todos
      div(ui-sortable='sortableOptions')
        p(ng-repeat='todo in todos')
          input(type='text', ng-model='todo')
          a.btn.btn-small.btn-danger(ng-click='removeItem($index)') X
      form(ng-submit='addTodo()')
        .controls.form-inline
          input(type='text', ng-model='todo')
          input.btn.btn-primary(type='submit', value='Save')
