.msgWindow {
  white-space: pre;
  overflow-y: auto;
  width: 100%;
  height: 250px;
  float: left;
  margin-bottom: 30px;
  background-color: #fff;
}
.msgWindow span.allMsg {
    word-wrap: break-word;
    padding: 4px 0;
    display: block;
}
input.msgInput{ width: 100%;}
 
.shadow { box-shadow: 2px 2px 4px 1px #000000; padding: 10px 1px 10px 15px;}

#startChat{ margin-left: 20px;}
#alertsDiv{ height: 40px;}
#alertDiv{ display: none;}
#usersList{ margin-left: 5%;}
#usersList span{ display: block; margin-bottom: 5px;}

span.user.itsMe{ color: green; font-weight: bold;}
span.user button{ margin-left: 10px;}
span.user:not(.itsMe):hover button{ display: inline-block;}
.tab-content {overflow: initial !important;}