<!-- <link rel="stylesheet" href="/css/chat.css" data-inprogress=""> -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7 offset2 fade in">
      <h1>Chat</h1>
      <h5 class="nickName"> <strong class="text-success">{{userName}}</strong></h5>
      <div id="alertsDiv"></div>
      <form class="form-inline">
        <label for="userName">User name:&nbsp;</label>
        <input id="userName" type="text" size="30">
        <button id="startChat" class="btn btn-success">Start</button>
      </form><span id="feedback"></span>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5 offset2">
      <ul id="chatRooms" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Global</a></li>
      </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane active">
          <div class="msgWindow shadow hidden"></div>
          <input type="text" disabled="true" class="msgInput">
        </div>
      </div>
    </div>
    
    <div class="span2" ng-include src="usersListPartial"></div>
  </div>
  <div class="row-fluid">
    <footer class="span7 offset2">
      <hr>
      <p>© 2013</p>
    </footer>
  </div>
</div>